/* You can add global styles to this file, and also import other style files */
html {
    background:linear-gradient(to left, #2196F3, #009688);
    font-family: 'helvetica neue';
    /* background-image: url(./assets/image_1.jpg), #2196F3;
    background-image: url(./assets/image_1.jpg);
    background-image: url(./assets/image_1.jpg), linear-gradient(to left, #2196F3, #009688); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;*/
}
.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
